#logo {
	margin-left: -10rem;
}

#btn {
	color: rgba(255, 255, 255);
	background: rgb(27, 42, 84);
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

#btn:hover {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	border: rgb(0, 0, 0);
}

@media (max-width: 768px) {
	#logo {
		margin-left: 0 !important;
	}

	.navbar-nav {
		margin-left: 2rem !important;
	}

	#btn {
		margin-left: 2rem;
		margin-top: 1rem;
	}
}
